$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

svg {
  background: black;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.gt-force-node {
  cursor: pointer;
  
  circle {
    stroke: black;
    stroke-width: 1.5px;
    cursor: pointer;
  }
  
  text {
    fill: white;
    text-anchor: middle;
    font: 8px sans-serif;
  }
  
  .gt-force-link-launch {
    stroke: #0f0;
    stroke-opacity: .15;
    cursor: pointer;
  }
  
  .gt-force-link-exit {
    stroke: #f00;
    stroke-opacity: .15;
    cursor: pointer;
  }
}

.gt-force-link {
  stroke: #666;
  stroke-opacity: .6;
  cursor: pointer;
}

.gt-force-tooltip {
  position: absolute;
}

.gt-force-tooltip-box {
//  width: 240px;
  padding: 3px 6px;
  margin-bottom: 3px;
  
  p {
    margin: 1px 0;
  }
  
  kbd {
    color: black;
    background-color: azure;
  }
}
//
//.gt-force-tooltip-box-in {
//  background-color: aquamarine;
//}
//
//.gt-force-tooltip-box-out {
//  background-color: peachpuff;
//}


// Component styles are injected through grunt
// injector
// endinjector
