$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

svg {
  background: black;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.node {
  cursor: pointer;
  
  circle {
    stroke: black;
    stroke-width: 1.5px;
    cursor: pointer;
  }
  
  text {
    fill: white;
    text-anchor: middle;
    font: 8px sans-serif;
  }
}

.link {
//  stroke: #ccc;
  stroke-opacity: .6;
}


// Component styles are injected through grunt
// injector
// endinjector
