.gt-d3-target {
  background: black;
  margin: 20px;
}

.gt-force-node {
  cursor: pointer;
  
  circle {
    stroke: black;
    stroke-width: 1.5px;
    cursor: pointer;
  }
  
  text {
    fill: white;
    text-anchor: middle;
    font: 8px sans-serif;
  }
}

.gt-force-external {
  stroke-opacity: .15;
  cursor: pointer;
  
  .gt-force-external-launch {
    stroke: #0f0;
  }
  
  .gt-force-external-exit {
    stroke: #f00;
  }
}

.gt-force-link {
  stroke: #666;
  stroke-opacity: .6;
  cursor: pointer;
}

.gt-force-tooltip {
  position: absolute;
}

.gt-force-tooltip-box {
//  width: 240px;
  padding: 4px 6px;
  margin-bottom: 3px;
  
  p {
    margin: 1px 0;
  }
  
  kbd {
    color: black;
    background-color: azure;
  }
}

.gt-force-tooltip-box-in {
  float: left;
  margin-right: 3px;
}
